.page-footer {
  background-color: #ffffff;
}

.page-footer__title {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  padding-top: 50px;
  margin-top: 0;
  padding-bottom: 30px;
  .container(@container-mob);
}

.page-footer__contacts {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

.page-footer__link {
  color: #eb003f;
  font-weight: 300;
  font-size: 24px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #535e6a;
  }

  &:active {
    text-decoration: none;
    color: #e1e3e5;
  }
}

.page-footer__item-description {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
  color: #283645;
}

.page-footer__map {
  width: 100%;
  height: 200px;
  background: url("../img/page-footer/bg-triangle-white-footer.svg"), url("../img/page-footer/bg-map-tablet@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top, center -440px;
  background-size: 100%, 700px 848px;
}

.page-footer__iframe {
  width: 100%;
  height: 200px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    min-width: @tablet-width;
  }

  .page-footer__title {
    .container(@container-mob);
    font-size: 40px;
  }

  .page-footer__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 630px;
    border: 1px solid red;
    margin: 0 auto;
  }

  .page-footer__map {
    background: url("../img/page-footer/bg-triangle-white-footer.svg"), url("../img/page-footer/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top, center -440px;
    background-size: 100%, 1200px 976px; /*врено ли я использовал этот svg....*/
    height: 375px;
  }

  .page-footer__iframe {
    width: 100%;
    height: 370px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__contacts {
    width: 900px;
    display: flex;
  }

  .page-footer__item {
    &:nth-child(2) {
      order: 1;
    }
  }

  .page-footer__map {
    background-position: center top, center -400px;
    background-size: 100%, 100% 976px;
    height: 500px; /*как реализовать адаптивную ширину картинки если её предел 1200px, может вырезать full hd карту самому? */
  }

  .page-footer__iframe {
    width: 100%;
    height: 510px;
  }

  .page-footer__title {
    font-size: 50px;
    .container(500px);
  }
}
