.page-footer {
  background-color: #ffffff;
}

.page-footer__title {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  padding-top: 40px;
  margin-top: 0;
  padding-bottom: 10px;
  .container(@container-mob);
}

.page-footer__contacts {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.page-footer__link {
  color: #eb003f;
  font-weight: 300;
  font-size: 24px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #535e6a;
  }

  &:active {
    text-decoration: none;
    color: #e1e3e5;
  }
}

.page-footer__adress {
  font-size: 24px;
  color: #eb003f;
  font-weight: 300;
}

.page-footer__item-description {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
  color: #283645;
}

.page-footer__map {
  width: 100%;
  height: 200px;
  background: url("../img/page-footer/bg-map-tablet@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -440px;
  background-size: 700px 848px;
}

.page-footer__map iframe {
  border: none;
}

.page-footer__triangle {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -1px;
}

.page-footer__iframe {
  width: 100%;
  height: 200px;
}

@media (min-width: @tablet-width) {
  .page-footer__title {
    .container(@container-mob);
    font-size: 40px;
    line-height: 50px;
    padding-top: 50px;
  }

  .page-footer__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 630px;
    margin: 10px auto 0 auto;
    padding-bottom: 60px;
  }

  .page-footer__map {
    background: url("../img/page-footer/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -440px;
    background-size: 1200px 976px;
    height: 365px;
    margin-bottom: 20px;
  }

  .page-footer__map::after {
    content: "";
    height: 0;
    width: 0;
    left: 0;
    position: absolute;
    border-left: 48vw solid transparent;
    border-right: 48vw solid transparent;
    border-top: 56px solid #ffffff;
  }

  .page-footer__iframe {
    width: 100%;
    height: 370px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__contacts {
    width: 870px;
    display: flex;
    margin-top: 25px;
    padding-left: 40px;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .page-footer__item--two {
    order: 1;
    margin-right: 15px;
  }

  .page-footer__item-description {
    margin-bottom: 20px;
  }

  .page-footer__map {
    height: 500px;
    margin-bottom: 50px;
  }

  .page-footer__iframe {
    width: 100%;
    height: 500px;
  }

  .page-footer__map::after {
    border-top: 66px solid #ffffff;
  }

  .page-footer__title {
    font-size: 50px;
    padding-top: 65px;
    line-height: 60px;
    padding-left: 10px;
    .container(500px);
  }
}
