.page-footer {
  width: 320px;
  height: 615px; margin-bottom: 50px;

  background: url("../blocks/page-footer/img/triangle-white-footer2.png"), url("../blocks/page-footer/img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0% 0%, 0% 100%;
}

.page-footer__title {
  text-align: center;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 24px;

  padding-top: 50px;
  margin-top: 0;
}

.page-footer__contacts {
  list-style: none;
  text-align: center;
  padding: 0;
}

.page-footer__link {
  color: #d22856;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 24px;
  text-decoration: none;
}
.page-footer__adress {
  color: #d22856;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 24px;
  text-decoration: none;
}

.page-footer__item-description {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
}
