.main-nav__toggle {
  display: none;
}

.main-nav__list {
  list-style: none;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 900;
  background-color: #283645;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  text-align: center;
  &:hover {
    background-color: #35485c;
  }
}
.main-nav__item:nth-child(1) {
  border-top: 1px solid #000000;
  box-shadow: 0 -1px 0 #485461;
}


.main-nav__link {
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  width: 318px;
  padding: 20px 0;
  display: block;
  padding-top: 20px;

  border-bottom: 1px solid #000000;
  box-shadow: 0 1px 0 #485461;
}
