.users-gallery {
  list-style: none;
  padding: 0;
}

.users-gallery__item {
  border: 1px solid red;
  background-color: #f2f2f2;
  margin: 20px 20px;
}

.users-gallery__title {
  font-weight: 700;
  font-size: 14px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.users-gallery__message {
  font-weight: 400;
  font-size: 14px;

  margin-top: 0;
  padding-left: 15px;
}

.users-gallery__like {
  font-weight: 400;
  font-size: 12px;

  padding: 0;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  color: #d22856;
  background-color: transparent;
  margin-bottom: 20px;
}

.users-gallery__like::before {
  content: url("../img/users-gallery/icon-heart.svg");
  margin-right: 10px;
}

@media (min-width: @tablet-width) {
  .users-gallery {
    width: @tablet-width;
    display: flex;
    flex-wrap: wrap;
  }

  .users-gallery__item {
    width: 300px;
    margin-right: 0;

    &:nth-child(1) {
      width: @tablet-width; /*ширина первого поста*/
    }
  }

  .users-gallery__like {
    padding-left: 15px;
    margin-right: 0;
    display: flex;
    flex-direction: row-reverse;

    &::before {
      margin-left: 130px;
    }
  }
}

@media (min-width: @desktop-width) {
  .users-gallery {
    width: @desktop-width;
  }

  .users-gallery__item {
    width: 290px;

    &:nth-child(1) {
      width: @desktop-width;
    }
  }
}
