.price {
  width: 320px;
  padding-top: 100px;
  padding-bottom: 100px;

  background: url("../img/price/Shape-2-copy.png") #ffffff;
  background-repeat: no-repeat;
  background-position: 0% 10%;

  border: 1px solid blue;
}

.price__list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.price__standart {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;

  background-color: #283645;
  padding: 30px 10px;
  margin: 0;
  color: #ffffff;
  border-left: 1px solid white;
}

.price__value {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 100;
  font-size: 24px;
}

.price__differences {
  list-style: none;
  text-align: left;
  background-color: #ffffff;
}

.price__differences-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 20px;
}

.price-slider__toggle {
  display: none;
}
