html {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #2a3948; /*скорее всего нарушает базовый критерий, однако предлагаю отложить до этапа полировки т.к.
  при верном глобальном написании ломает другие блоки с отступами*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: inherit;
}
