.gallery-post {
  border: 3px solid green;
  background-color: #f2f2f2;
}

.gallery-post__photo-for-post {
  margin-left: 20px;
}

.gallery-post__btn {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 900;
  width: 280px;
  padding: 12px 0;
  margin-bottom: 15px;
  margin-left: 20px;

  border: 3px solid black;
  border-radius: 30px;
  background-color: #f2f2f2;
}

.gallery-post__btn--submit {
  border-color: #d22856;
  color: #d22856;

  margin-top: 200px; /*временно*/
}
.gallery-post__btn--cancel {
  border-color: #dddfe0;
}
