.gallery-post {
  background-color: #f2f2f2;
  padding: 30px 0;
}

.gallery-post__wrapper {
  background: url("../img/gallery-post/photo-road-mobile@1x.jpg") #f2f2f2;
  background-repeat: no-repeat;
  background-position: top;

  padding-top: 380px;
}

.gallery-post__btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 280px;
  padding: 12px 0;
  margin: 0 auto 10px auto;

  border: 3px solid black;
  border-radius: 30px;
  background-color: #f2f2f2;
}

.gallery-post__btn--submit {
  border-color: #d22856;
  color: #d22856;

  &:hover {
    background-color: #d22856;
    color: #ffffff;
  }

  &:active {
    color: #e06989;
  }
}

.gallery-post__btn--cancel {
  border-color: #dddfe0;
  color: #dddfe0;

  &:hover {
    color: #b5b9be;
    border-color: #b5b9be;
  }

  &:active {
    background-color: #b5b9be;
    color: #cbced2;
  }
}

.gallery-post__wrapper-range {
  margin-bottom: 40px;
}

.gallery-post__controls {
  .container(250px);
  flex-direction: row;
  padding: 0;
}

.gallery-post__option {
  &:hover {
    cursor: pointer;

    fill: #8d949b;
  }
}

.gallery-post__option-color {
  &:hover {
    fill: #d22856;
  }
}

.gallery-post__range:nth-of-type(2n+1) {
  display: none;
}

/*--------------------custom range-------------*/
.gallery-post__range {
  width: 280px;
  height: 40px;
  margin-left: 0;
  margin-top: 20px;

  &:hover {
    cursor: pointer;
  }
}

.gallery-post__range-controls {
  position: relative;
  height: 36px;
  margin-bottom: 15px;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;
}

.gallery-post__scale {
  margin-top: 17px;
  margin-left: 0;
  margin-right: 0;
  height: 2px;
  background: #000000;
  width: 245px;
}

.gallery-post__toggle {
  position: absolute;
  top: 11px;
  left: 145px;
  width: 14px;
  height: 14px;
  border: 2px solid #d22856;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50%;

  &:active {
    background-color: #d22856;
  }
}
/*-----------------------custom range----------*/
.gallery-post__publication {
  /*width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;*/
  .container(280px);
  border: 1px solid black;
}

@media (min-width: @tablet-width) {
  .gallery-post {
    display: flex;
    justify-content: flex-end;
  }

  .gallery-post__wrapper {
    .container(760px);
    padding-left: 300px;
    padding-top: 0;
    background: url("../img/gallery-post/photo-road-tablet@1x.jpg") #f2f2f2;
    background-repeat: no-repeat;
    background-position: left;
  }

  .gallery-post__publication {
    /*width: 50%;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    flex-direction: row;*/
    .container(400px);
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery-post__wrapper-range {
    margin-bottom: 100px;
  }

  .gallery-post__range:nth-of-type(2n+1) {
    display: block;
  }

  .gallery-post__controls {
    .container(@container-mob);
    width: auto;
    margin-bottom: 85px;
    margin-top: 15px;
    margin-left: 0;
    padding-left: 0;
  }

  .gallery-post__control-item {
    margin-bottom: 20px;
  }

  .gallery-post__option {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .gallery-post__publication {
    /*margin: 0 auto;
    width: 410px;
    justify-content: space-between;
    min-height: 400px;
    align-items: center;*/
    .container(420px);
    flex-direction: row;
  }

  .gallery-post__btn {
    width: 200px;
  }

  .gallery-post__option {
    width: 38px;
    height: 38px;
  }
}
