.footer {
  background-color: #ffffff;
}

.footer__logo {
  margin-top: 20px;
}

.footer__logo-desktop {
  display: none;
}

.footer__logo-tablet,
.footer__logo-desktop {
  fill: #283645;

  &:hover {
    fill: #d22856;
  }

  &:active {
    opacity: 0.4;
    fill: #283645;
  }
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 32px 65px 25px 67px;
  padding: 0;
  width: 190px;
}

.footer__link {
  border: 3px solid #e9ebec;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #e9ebec;
  }
}

.footer__link--twitter::before {
  content: url("../img/footer/icon-twitter.svg");
}

.footer__link--facebook::before {
  content: url("../img/footer/icon-facebook.svg");
}

.footer__link--youtube::before {
  content: url("../img/footer/icon-youtube.svg");
}

.footer__copyright {
  text-align: center;
}

.footer__copyright-link {
  padding-left: 12px;
}

.footer__copyright-description {
  font-size: 14px;
  font-weight: 400;
  color: #283645;
  margin-top: 8px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer--index-page {
  display: none;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__copyright-logo {
  margin-top: 8px;
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: #bec2c7;
  }
}

@media (min-width: @tablet-width) {
  .footer--index-page {
    display: block;
  }

  .footer__wrapper {
    .container(@container-tablet);
    flex-direction: row;
    align-items: baseline;
  }

  .footer__copyright-description {
    margin-top: 25px;
    margin-right: 15px;
  }

  .footer__list {
    margin-top: 25px;
    margin-left: 40px;
  }

  .footer__logo {
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    .container(@container-desktop);
    flex-direction: row;
    max-width: 960px;
    justify-content: space-between;
    align-items: baseline;
  }

  .footer__copyright-description {
    font-size: 18px;
    margin-right: 0;
  }

  .footer__list {
    margin-right: 30px;
  }

  .footer__logo-tablet {
    display: none;
  }

  .footer__logo-desktop {
    display: inline;
  }
}
