.gallery-page {
  width: 320px;
  background-color: #ffffff;
}

.gallery-page__description {
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
  margin-top: 50px;

}
.gallery-page__users-gallery {
  list-style: none;
  padding: 0;
}
.users-gallery__item {
  border: 1px solid red;
  background-color: #f2f2f2;
  margin: 20px 20px;
}
.users-gallery__title {
  font-family: "Open Sans";
  font-size: 14px;
  padding-left: 15px;

}
.users-gallery__message {
  padding-left: 15px;
}

.users-gallery__item button{
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;

  padding: 0;
  padding-left: 50px;
  border: none;
  cursor: pointer;
  color: #d22856;
  background-color: transparent;

}
.users-gallery__like:before {
  content: url("../blocks/gallery-page/img/icon-heart.svg");
  position: relative;
  right: 15px;
}
.users-gallery__like:after {
  content: "1";
  position: relative;
  left: 15px;
}

