.promo-block {
  /*width: 320px;*/
  background: url("../img/promo-block/bg-back-mobile@1x.jpg") #1d2631;
  background-position: 0 -70px;

  border: 2px solid red;
}

.promo-block__title {
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  padding: 0 30px;
  border: 1px solid green;
}

/* promo-lead*/
.promo-block--lead {
  border: 1px solid red;
  background: url("../img/promo-block/iphone-hand-mobile@1x.png"), url("../img/promo-block/bg-back-mobile@1x.jpg") #1d2631;
  background-repeat: no-repeat;
  background-position: 0 115px, 0 -60px;
}

.promo-block__main-link {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;

  box-sizing: border-box;
  display: block;
  width: 280px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: 350px;

  &:hover {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    color: #f1becc;
  }
}

.promo-block__description {
  font-size: 14px;
  text-align: center;
  color: #c3c5c8;

  display: block;
  width: 300px;
  margin: 20px 0 30px 10px;
  border: 1px solid black;
}

.promo-block__download-list {
  list-style: none;
  padding-left: 0;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border: 1px solid white;
}

.promo-block__link--apple::before {
  content: url("../img/promo-block/logo-apple.svg");
}

.promo-block__link--android::before {
  content: url("../img/promo-block/logo-android.svg");
}

.promo-block__link--winphone::before {
  content: url("../img/promo-block/logo-microsoft.svg");
}

.promo-block__wrapper {   /*стили для обертки по умолчанию в моб версии*/
  border: 3px solid green;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .promo-block__description {
    width: auto;
  }

  .promo-block__download-list {
    width: 80%;
  }
}

@media (min-width: @tablet-width) {
  .promo-block {

    /*width: @tablet-width;*/
    background: url("../img/promo-block/bg-back-tablet@1x.jpg") #1d2631;
    background-position: -300px -100px;
  }

  .promo-block__title {
    padding-left: 30px;
  }
}

@media (min-width: @tablet-width) {
  .promo-block__wrapper {
    width: 320px;
    margin: 100px 5%;  /* в целом марджин слева в процентах вроде работает,
    опять же можно сделать центровщик внутри которго разместить контейнер по левому краю и менять ширину центровщика таким образом перемещая содержимое по левому краю*/
  }

  .promo-block__main-link {
    margin-top: 50px;
  }

  .promo-block--lead {
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .promo-block__wrapper {
    margin-left: 25%;
  }
}
