.promo-block {
  background: url("../img/promo-block/bg-back-tablet@1x.jpg") #1d2631;
  background-position: center -70px;
  background-repeat: no-repeat;
  background-size: 80vh 500px;
  border: 1px solid red;   /*Как эта рамка может ломать блок своим отсутствимем? */

  @media (min-resolution: @retina-dppx) {
    background: url("../img/promo-block/bg-back-tablet@2x.jpg") #1d2631;
    background-repeat: no-repeat;
  }
}

.promo-block__title {
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-top: 60px;
  padding: 0 30px;
  min-width: 300px;
}

.promo-block__title--inner { /*для внутренних страниц*/
  margin-top: 55px;
  margin-bottom: 85px;
}

.promo-block--lead {
  background: url("../img/promo-block/iphone-hand-mobile@1x.png"), url("../img/promo-block/bg-back-tablet@1x.jpg") #1d2631;
  background-position: center 35%, center 0;
  background-repeat: no-repeat;
  background-size: 258px 286px, 100vh 60%;

  @media (min-resolution: @retina-dppx) {
    background: url("../img/promo-block/iphone-hand-mobile@2x.png"), url("../img/promo-block/bg-back-tablet@2x.jpg") #1d2631;
    background-repeat: no-repeat;
    background-size: 258px 286px, 1000px 600px;
    background-position: center 220px, top -100px center;
  }
}

.promo-block__main-link {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;

  box-sizing: border-box;
  display: block;
  width: 280px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: 350px;

  &:hover {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    color: #f1becc;
  }
}

.promo-block__description {
  font-size: 14px;
  text-align: center;
  color: #c3c5c8;

  display: block;
  min-width: 300px;
  margin: 20px 0 30px 10px;
}

.promo-block__download-list {
  list-style: none;
  padding-left: 0;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.promo-block__link--apple::before {
  content: url("../img/promo-block/logo-apple.svg");
}

.promo-block__link--android::before {
  content: url("../img/promo-block/logo-android.svg");
}

.promo-block__link--winphone::before {
  content: url("../img/promo-block/logo-microsoft.svg");
}

.promo-block__wrapper {   /*стили для обертки по умолчанию в моб версии*/
  border: 3px solid green;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .promo-block__description {
    width: auto;
  }

  .promo-block__download-list {
    width: 80%;
  }
}

@media (min-width: @tablet-width) {
  .promo-block {
    background: url("../img/promo-block/bg-back-tablet@1x.jpg") #1d2631;
    background-repeat: no-repeat;
    background-position: center -60px;

    @media (min-resolution: @retina-dppx) {
      background: url("../img/promo-block/bg-back-tablet@2x.jpg") #1d2631;
      background-repeat: no-repeat;
      background-size: 1200px 729px;
      background-position: center;
    }
  }

  .promo-block__title {
    padding-left: 30px;
    font-size: 40px;
    margin-top: 30px;
  }

  .promo-block__title--inner {
    margin-top: 80px;
    margin-bottom: 150px;
    font-size: 50px;
  }

  .promo-block__wrapper {
    .container(@tablet-width);
    padding: 0 360px 100px 0;

    background: url("../img/promo-block/iphone-hand-tablet@1x.png");
    background-position: center bottom;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dppx) {
      background: url("../img/promo-block/iphone-hand-tablet@2x.png");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 700px 545px;
    }
  }

  .promo-block__main-link {
    margin-top: 50px;
  }

  .promo-block--lead {
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .promo-block {
    background: url("../img/promo-block/bg-back-desktop@1x.jpg") #1d2631;
    background-repeat: no-repeat;
    background-position: center 0;

    @media (min-resolution: @retina-dppx) {
      background: url("../img/promo-block/bg-back-desktop@2x.jpg") #1d2631;
      background-size: 2560px 853px;
      background-position: center 0;
    }
  }

  .promo-block__wrapper {
    .container(@desktop-width);
    padding: 100px 600px 100px 0;

    background: url("../img/promo-block/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 50px 200px;

    @media (min-resolution: @retina-dppx) {
      background: url("../img/promo-block/iphone-hand-desktop@2x.png");
      background-repeat: no-repeat;
      background-position: 50px 200px;
      background-size: 1050px 645px;
    }
  }

  .promo-block__title--inner {
    margin-top: 60px;
    margin-bottom: 120px;
  }

  .promo-block__title {
    font-size: 50px;
  }
}
