.advantages {
  /*width: 320px;*/
  border: 1px solid green;
  background: url("../img/advantages/iphone-screen-mobile1x.png"), url("../img/advantages/gray-bg.png"), #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 110%, 50% 100%;
}

.advantages__main-title {
  text-align: center;
  color: #283645;
  font-weight: 300;
  font-size: 24px;
  border: 1px solid black;
  margin: 0;
}

.advantages__main-title:nth-child(3) {
  margin-bottom: 120px;
}

.advantages__item:nth-child(3) {
  margin-bottom: 280px;
}

.advantages__list {
  list-style: none;
  text-align: center;
  padding-left: 33px;
  padding-right: 33px;
}

.advantages__item {
  margin-top: 50px;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #283645;
}
/*for adaptive*/
@media (min-width: @tablet-width) {
  .advantages {
    width: auto;
  }

  .advantages__list {
    width: 380px;
    text-align: left;
    border: 1px solid black;
    margin-left: 40%; /*лучшего решения я не нешаел, flex из двух элементов будет работать не везде */
  }

  .advantages__item:nth-child(3) {
    margin-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    width: 700px;
    text-align: center;
    margin: 0 auto;
  }
}
