.advantages__main-title {
  text-align: center;
  color: #283645;
  background-color: #ffffff;
  font-weight: 300;
  line-height: 30px;
  font-size: 24px;
  margin: 0;
  padding-top: 40px;
}

.advantages__main-title--two {
  padding-top: 30px;
  padding-bottom: 110px;
  background: linear-gradient(176deg, #ffffff 158px, #f2f2f2 159px);
}

.advantages__wrapper {
  background: url("../img/advantages/iphone-screen-mobile1x.png"), #f2f2f2;
  background-repeat: no-repeat;
  background-position: 50% 110%;

  padding-bottom: 275px;

  @media (min-resolution: @retina-dppx) {
    background: url("../img/advantages/iphone-screen-mobile@2x.png"), #f2f2f2;
    background-size: 157px 320px;
    background-repeat: no-repeat;
    background-position: 50% 110%;
  }
}

.advantages__list {
  min-width: 320px;
  list-style: none;
  text-align: center;
  padding-left: 33px;
  padding-right: 33px;
  margin: 0;
}

.advantages__item {
  padding-top: 0;
  padding-bottom: 20px;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #283645;
  margin-top: 0;
}

@media (min-width: @tablet-width) {
  .advantages {
    .container();
    align-items: flex-end;
    background: #ffffff;
  }

  .advantages__main-title {
    .container(@container-tablet);
    margin-top: 0;
    font-size: 40px;
  }

  .advantages__main-title--one {
    margin-top: 20px;
  }

  .advantages__main-title--two {
    width: 400px;
    padding-top: 10px;
    line-height: 50px;
    background: none;
  }

  .advantages__wrapper {
    background: url("../img/advantages/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 3% 45px;

    @media (min-resolution: @retina-dppx) {
      background: url("../img/advantages/iphone-screen-3-tablet@2x.png");
      background-size: 268px 481px;
      background-position: 3% 45px;
    }

    padding-bottom: 0;
    padding-top: 95px;
    margin: 0 auto;
  }

  .advantages__list {
    padding-left: 50%;
    padding-bottom: 0;
    text-align: left;
  }

  .advantages__item {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    background-color: #ffffff;
  }

  .advantages__list {
    .container(@container-desktop);
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    text-align: center; max-width: 940px;
  }

  .advantages__title {
    font-size: 30px;
  }

  .advantages__main-title--one {
    padding-top: 60px;
  }

  .advantages__main-title--two {
    padding-top: 15px;
    line-height: 60px;
  }

  .advantages__item {
    padding: 20px 35px 0 10px;
    margin-top: 0;
  }

  .advantages__main-title {
    font-size: 50px;
  }

  .advantages__title {
    line-height: 30px;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 25px;
  }

  .advantages__list {
    padding-top: 305px;
    background: url("../img/advantages/iphone-screen-1-desktop@1x.png"), url("../img/advantages/iphone-screen-2-desktop@1x.png"), url("../img/advantages/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: left 0, center 0, right 0;

    @media (min-resolution: @retina-dppx) {
      background: url("../img/advantages/iphone-screen-1-desktop@2x.png"), url("../img/advantages/iphone-screen-2-desktop@2x.png"), url("../img/advantages/iphone-screen-3-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: 292px 302px;
      background-position: 4% 0, 51% 0, 95% 0;
    }
  }


  .advantages__wrapper {
    .container(@desktop-width);
    max-width: 100%;
    padding-top: 80px;
    background: linear-gradient(176deg, #ffffff 158px, #f2f2f2 159px);
  }
}
