.form-page {
  background-color: #ffffff;
}

.form-page__contest-description {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #364351;
  line-height: 30px;

  background-color: #ffffff;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.form-page__contest-description-tablet {
  display: none;
}

@media (min-width: @tablet-width) {
  .form-page {
    min-width: @tablet-width;
  }

  .form-page__contest-description {
    font-size: 18px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 0;
  }

  .form-page__contest-description-tablet {
    display: block;
    padding-left: 190px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
