.form-page {
  width: 320px;
  background-color: #ffffff;
}

.form-page__contest-description {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #364351;
  line-height: 30px;

  background-color: #ffffff;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
