.promo-block {
  width: 320px;
  background-color: #1d2631;
  min-height: 175px;
  background: url("../blocks/promo-block/img/bg-back-mobile@1x.jpg");
  /*border: 1px solid red;
  background: url("../blocks/promo-block/img/iphone-hand-mobile@1x.png"),
                url("../blocks/promo-block/img/bg-back-mobile@1x.jpg")
                  #1d2631;
  background-repeat: no-repeat;
  background-position: left 175px, top; */


}
.promo-block__title {
  margin-left: 25px;
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-top: 0;

}
/*.promo-block__link {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  display: block;
  border: 3px solid #ffffff;
  width: 300px;
  height: 52px;
  padding-left: 50px;
  padding-top: 10px;
  margin-left: 10px;
  border-radius: 30px;
  margin-top: 430px;

  &:hover {
    color: #d22856;
    background-color: #ffffff;
  }
  &:active {
    color: #f1becc;
  }

}
.promo-block__description {
  color: #c3c5c8;
  display: block;
  margin-top: -10px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: lighter;
}

.link-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.link-list__link--apple {
  background-image: url("../blocks/promo-block/img/logo-apple.svg");
  display: inline-block;
  width: 46px; height: 56px;
}
.link-list__link--android {
  background-image: url("../blocks/promo-block/img/logo-android.svg");
  display: inline-block;
  width: 42px; height: 47px;
}
.link-list__link--winphone {
  background-image: url("../blocks/promo-block/img/logo-microsoft.svg");
  display: inline-block;
  width: 44px; height: 42px;
}

.promo-block__description {
  text-align: center;
}*/
